@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --primary-color: blue;
}

* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: auto;
  width: 50%;
  padding: 2rem;
  background-color: whitesmoke;
  text-align: center;
}

.container {
  background-color: white;
  padding: 4rem;
  border-radius: 2rem;
}

label {
  display: block;
  padding: 1rem;
}

input{
    border: 2px solid var(--primary-color);
    height: 2rem;
    width: 200px;
    padding: 0.4rem;
    text-align: center;
    border-radius: 8px;
    margin: auto;
    display: block;
}

.price{
    background-color: grey;
    color: white;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 1rem auto;
    border: 2px solid var(--primary-color);
    border-radius: 8px;

}

.result{
    margin: 1rem;
}

.timeout{
    display: none;
}

button{
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: large;
    cursor: pointer;
    margin: auto;
    display: block;
    margin-top: 1rem;
}

footer {
  bottom: 0;
  padding: 1rem;
  position: fixed;
  width: 50%;
  text-align: center;
}

footer,
p {
  font-size: large;
  text-align: center;
}

ul,
li {
  display: inline;
  padding: 0.5rem;
}